<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845958944286-kdds9tr6p6bqt1pt58vr6tkv0ilss3jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845958944286-kdds9tr6p6bqt1pt58vr6tkv0ilss3jh</string>
	<key>API_KEY</key>
	<string>AIzaSyAo10smv8_IRc6VzXGe6WTSTDVpInP5ric</string>
	<key>GCM_SENDER_ID</key>
	<string>845958944286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pixel.legend.sea.ios</string>
	<key>PROJECT_ID</key>
	<string>knightsoft</string>
	<key>STORAGE_BUCKET</key>
	<string>knightsoft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845958944286:ios:e9da08a109afafc812400f</string>
</dict>
</plist>